.jumbotron
  %h2 Generate PDF example app
  %p
    This is a sample application using <code>wkhtmltopdf</code> to generate PDFs with custom Fonts

  %p
    Gems used:
    %ul
      %li wicked_pdf
      %li wkhtmltopdf-binary
      %li rails 4.0.2

  %p
    Fonts used:
    %ul
      %li= link_to "Orbitron", "http://www.google.com/fonts/specimen/Orbitron"
      %li= link_to "Open Sans", "http://www.google.com/fonts/specimen/Open+Sans"
